.header {
    display: flex;
    text-align: left;
    padding: 200px;
    background-color: #f1f1f1;
}
.search-button {
    border-radius: 25px;
    margin-left: 10px;
    padding: 10px 20px;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.search-form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.search-input{
width: 300px;
padding: 10px;
border-radius: 25px;
border: 2px solid #f1f1f1;
font-size: 16px;
outline: none;
text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.search-button:hover{
    background-color: aliceblue;
}